#about {
    width: min(95%, 120rem);
    margin: 0 auto;
    padding: 35px;
}

.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


@media (min-width: 975px) {
    

    #about .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    #about .titulo {
        padding-top: 0;
    }

    .about-content{
        padding: 0px;
    }
}

