body{
    font-family: var(--primary-font);
}

ul {
    list-style-type: none;
  }

.content{
    display: block;
}

h1{
    font-size: 45px;
    padding-bottom: 45px;
    font-weight: 55;
    text-transform: uppercase;
}

h2{
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px;
    font-weight: 500;
}

h3{
    background-color: var(--secondary-color);
    padding: 8px;
    font-size: 25px;
    font-weight: 55;
    border-radius: 4px;
}

